@use './../variables' as *;

.Footer{
    padding: 5em 0 5em 0;
    display: flex;
    margin: 5em 0 0 0;
    gap: 4em;
    justify-content: center;
    align-items: center;
    background-color:  #cfcfcf;
    &-address{
        &-a{
            font-family: $font-family;
        }
    }
    &-ul{}
    &-li{
    
    }
    &-a{
        
    }
}