@use "./../variables" as *;

.Main-section-privacy-p{
    font-family: $font-family;
    width: 50em;
}
.Main-section-privacy{
    &-ol{
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
}

@media (max-width: 768px){
    .Main-section-privacy-p{
        width: 100%;
        margin: 0;
        padding: 1em;
        overflow-wrap: break-word;
    }
}